@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap");

html {
    background-color: #ffedb3;
}

.open {
    animation: fadeout-anim 1s linear forwards;
    animation-delay: 4s;
}

@keyframes fadeout-anim {
    100% {
        opacity: 0;
    }
}

.happy {
    position: absolute;
    top: 35%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.happy li {
    list-style: none;
    color: #f1aae4;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 5em;
    animation: animate 1.8s linear infinite;
}

@keyframes animate {
    0% {
        color: #f3bdd8;
        text-shadow: none;
    }
    90% {
        color: #f59de0;
        text-shadow: none;
    }
    100% {
        color: #ef4fe1;
        text-shadow: 0 0 7px #f482d6, 0 0 50px #f850ed;
    }
}

.happy li:nth-child(1) {
    animation-delay: 0.2s;
}
.happy li:nth-child(2) {
    animation-delay: 0.4s;
}
.happy li:nth-child(3) {
    animation-delay: 0.6s;
}
.happy li:nth-child(4) {
    animation-delay: 0.8s;
}
.happy li:nth-child(5) {
    animation-delay: 1s;
}
.happy li:last-child {
    animation-delay: 1.2s;
}

.valentine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.valentine li {
    list-style: none;
    color: #eec0e1;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 5em;
    animation: animate 1.8s linear infinite;
}

@keyframes animate {
    0% {
        color: #f3bdd8;
        text-shadow: none;
    }
    90% {
        color: #f59de0;
        text-shadow: none;
    }
    100% {
        color: #ef4fe1;
        text-shadow: 0 0 7px #f482d6, 0 0 50px #f850ed;
    }
}

.valentine li:nth-child(1) {
    animation-delay: 0.2s;
}
.valentine li:nth-child(2) {
    animation-delay: 0.4s;
}
.valentine li:nth-child(3) {
    animation-delay: 0.6s;
}
.valentine li:nth-child(4) {
    animation-delay: 0.8s;
}
.valentine li:nth-child(5) {
    animation-delay: 1s;
}
.valentine li:nth-child(6) {
    animation-delay: 1.2s;
}
.valentine li:nth-child(7) {
    animation-delay: 1.4s;
}
.valentine li:nth-child(8) {
    animation-delay: 1.6s;
}
.valentine li:last-child {
    animation-delay: 1.8s;
}

.cp_anime10 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cp_anime10 .cp_spinner {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 40px;
}
.cp_anime10 .cp_heart {
    -webkit-animation: anime10_heart 2s ease-in-out infinite;
    animation: anime10_heart 2s ease-in-out infinite;
}
.cp_anime10 .cp_heart:before,
.cp_anime10 .cp_heart:after {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 24px;
    height: 35px;
    content: " ";
    border-radius: 12px 12px 0 0;
}
.cp_anime10 .cp_heart:before {
    left: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-image: -webkit-linear-gradient(254deg, #f093fb 0%, #f5576c 90%);
    background-image: linear-gradient(-164deg, #f093fb 0%, #f5576c 90%);
}
.cp_anime10 .cp_heart:after {
    right: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
@-webkit-keyframes anime10_heart {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    15% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    30% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    45% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    100%,
    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
}
@keyframes anime10_heart {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    15% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    30% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    45% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    100%,
    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center;
        transform-origin: center;
    }
}
